modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_SECRET = "subshub-admin-2026"
ADMIN_USERNAME = "Topratedcarwriter"
ADMIN_PASSWORD = "Osuagwu1997$"

[objectStorage]
defaultBucketID = "replit-objstore-db15a4d9-e864-4eaa-b941-39a9a3cd36dc"
